:root{
    --Twitch-Purple: #9146FF;
    --Twitch-Ice: #F0F0FF; 
    --Gray-Scale-0: #0E0E10;
    --Gray-Scale-1: #18181B;
    --Gray-Scale-2: #242427;
    --Gray-Scale-3: #494949;
    --Gray-Scale-4: #555555;
    --Text-Gray: #C4C4C4;

    --Arial-Bold: 700;
    --Arial-Regular: 400;

    --Font-Size-0: 4.4rem;
    --Font-Size-1: 3.4rem;
    --Font-Size-2: 1.4rem;

    color : var(--Twitch-Ice);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(24, 24, 27);
    margin: -8px -8px 0px -8px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

#Logo{
    display: flex;
    margin: 0.7%;
}

.SearchBar {
    padding-left: 15%;
    padding-right: 15%;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputSearch::placeholder{
    color : var(--Text-Gray);
}

.InputSearch{
    outline: none;
    width: 100%;
    border-radius: 0.6rem ;
    padding: 0.5rem 1rem ;
    background-color: var(--Gray-Scale-3);
    border-color: transparent;
    border-style: solid;
    border-width: 3px;
}

.InputSearch:hover{
    border-color: var(--Gray-Scale-4);
}

.InputSearch:focus, .InputSearch:active{
    border-color: var(--Twitch-Purple);
}

button{
    color : inherit;
    border: none;
    border-radius: 0.6rem ;
    background-color: var(--Gray-Scale-1)
}

button:hover{
    background-color: var(--Gray-Scale-2)
}

.ButtonSearchBar{
    background-color: transparent;
    border-color: transparent;
}

main{
    display: flex;
    background-color: var(--Gray-Scale-0);
    margin-left: -8px;
    margin-right: -8px;
    flex-flow: column wrap;
}



h1{
    font-weight: var(--Arial-Bold);
    font-size: var(--Font-Size-0);
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-weight: var(--Arial-Regular);
    font-size: var(--Font-Size-1);
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-weight: var(--Arial-Regular);
    font-size: var(--Font-Size-2);
}

.Purple{
    color: var(--Twitch-Purple);
}

.Center{
    text-align: center;
}

.AccèsComparateur{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}


