header{
    background-color: rgb(24, 24, 27);
    margin: -8px -8px 0px -8px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

#Logo{
    display: flex;

}

.SearchBar {
    display: flex;
    justify-content: center;
    position: relative;
}